################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs/_2kprojekt/FileContentIndex/4b4901a2-d9b4-4b41-a4d2-8665171e48ab.vsidx
/.vs/_2kprojekt/FileContentIndex/3b40f880-9d0b-469e-936f-524a35b9b735.vsidx
/.vs
/SquidGames/obj/Release/net6.0
